@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: "Poppins", serif;
    font-weight: 600;
    /* background: linear-gradient(to right, pink, purple); */
    background: #297048;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div {
    padding-left: 20px;
    padding-right: 40px;
}

.container {
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent background for contrast */
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 50vw; /* Set a fixed width for the form */
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left; /* Align labels to the left */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

textarea {
    resize: none; /* Disable resizing for the textarea */
}

.btn {
    background-color: white;
    color: purple;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: purple;
    color: white;
}

#condition {
    width: min-content;
}

/* Error styling for invalid fields */
.error {
    border: 2px solid red !important;
    /* background-color: rgba(255, 0, 0, 0.1); */
}

/* Style for error messages */
.error-message {
    color: #854836;
    font-size: 1em;
    margin-top: 5px;
    display: none;
}

